.pvtUi {
  color: #757575;
  font-family: Verdana;
  border-collapse: separate;
  border-spacing: 0 5px;
  display: block;
  overflow: auto;
}
.pvtUi select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.pvtUi td.pvtOutput {
  vertical-align: top;
}

.pvtUi-body-wrapper {
  display: inherit;
}

table.pvtTable {
  font-size: 12px;
  text-align: left;
  border-collapse: separate;
  border-spacing: 20px 15px;
  font-family: Verdana;
  background: #fdfdfd;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 10px 20px;
}

table.pvtTable tbody {
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  width: 100%;
}

table.pvtTable tbody.separator {
  box-shadow: none;
}

table.pvtTable tbody.separator:after {
  height: 1em;
  display: table-row;
  content: '';
}

table.pvtTable thead tr th,
table.pvtTable tbody tr th {
  font-size: 8pt;
  padding: 5px;
}

table.pvtTable .pvtColLabel {
  text-align: center;
}

table.pvtTable .pvtColLabel.title {
  border-bottom: 0.5px solid #757575;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
  padding: 10px;
}

table.pvtTable .pvtColLabel.subtitle {
  font-weight: normal;
  font-size: 14px;
  color: #757575;
}

table.pvtTable .base--mode {
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  height: 50px;
}

table.pvtTable .row--handler:after {
  content: '\283F';
  cursor: move;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

table.pvtTable th.title {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
  line-height: 21px;
  color: #757575;
}

table.pvtTable .pvtRowLabel.subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #757575;
}

table.pvtTable .pvtTotalLabel {
  text-align: right;
}

table.pvtTable tbody tr td {
  color: #757575;
  padding: 5px;
  vertical-align: top;
  text-align: center;
}

.table-data {
  overflow: auto;
  width: 100%;
  display: inherit;
}

.pvtTotal,
.pvtGrandTotal {
  font-weight: bold;
}

.pvtRowOrder,
.pvtColOrder {
  cursor: pointer;
  width: 15px;
  margin-left: 5px;
  display: inline-block;
  user-select: none;
  text-decoration: none !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.pvtAxisContainer,
.pvtVals {
  padding: 5px;
  min-width: 20px;
  min-height: 20px;
}

.pvtAxisContainer.pvtUnused {
  background-color: #ededed;
  border-radius: 3px;
  text-transform: capitalize;
  width: 100%;
}

.pvtRenderers {
  padding-left: 5px;
  user-select: none;
}

.pvtDropdown {
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  margin: 3px;
}

.pvtDropdownIcon {
  float: right;
  color: #a2b1c6;
}
.pvtDropdownCurrent {
  text-align: left;
  border: 1px solid #a2b1c6;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  width: 210px;
  box-sizing: border-box;
  background: #ffffff;
}

.pvtDropdownCurrentOpen {
  border-radius: 4px 4px 0 0;
}

.pvtDropdownMenu {
  background: #ffffff;
  position: absolute;
  width: 100%;
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  border: 1px solid #a2b1c6;
  border-top: 1px solid #dfe8f3;
  box-sizing: border-box;
}

.pvtDropdownValue {
  padding: 2px 5px;
  font-size: 12px;
  text-align: left;
}

.pvtDropdownActiveValue {
  background: #ebf0f8;
}

.pvtVals {
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  padding-bottom: 12px;
}

.pvtRows {
  height: 35px;
}

.pvtCols {
  background-color: #d8e4f8;
  border-radius: 3px 0 0 3px;
  text-transform: capitalize;
  min-height: 68px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;

  transition: flex 0.3s ease-out;
}

.pvtAxisContainer li {
  padding: 6px;
  list-style-type: none;
  cursor: move;
}
.pvtAxisContainer li.pvtPlaceholder {
  -webkit-border-radius: 5px;
  padding: 3px 15px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px dashed #a2b1c6;
}
.pvtAxisContainer li.pvtPlaceholder span.pvtAttr {
  display: none;
}

.pvtAxisContainer li span.pvtAttr {
  -webkit-text-size-adjust: 100%;
  font-size: 12px;
  font-weight: bold;
  background: #f3f6fa;
  padding: 2px 5px;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.pvtTriangle {
  cursor: pointer;
  color: #506784;
}

.pvtHorizList li {
  background-color: #ffffff;
  margin: 5px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 3px;
  display: inline-block;
}

.pvtVertList {
  vertical-align: top;
  display: none;
}

.sortable-chosen .pvtFilterBox {
  display: none !important;
}

.pvtCloseX {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none !important;
}

.pvtDragHandle {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 18px;
  cursor: move;
  color: #a2b1c6;
}

.pvtButton {
  color: #506784;
  border-radius: 5px;
  padding: 3px 6px;
  background: #f2f5fa;
  border: 1px solid;
  border-color: #c8d4e3;
  font-size: 14px;
  margin: 3px;
  transition: 0.34s all cubic-bezier(0.19, 1, 0.22, 1);
  text-decoration: none !important;
}

.pvtButton:hover {
  background: #e2e8f0;
  border-color: #a2b1c6;
}

.pvtButton:active {
  background: #d1dae6;
}

.pvtFilterBox input {
  border-radius: 5px;
  color: #506784;
  padding: 0 3px;
  font-size: 14px;
}

.pvtFilterBox input:focus {
  border-color: #119dff;
  outline: none;
}

.pvtFilterBox {
  z-index: 100;
  width: 300px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 18px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 18px -2px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  position: absolute;
  text-align: center;
  user-select: none;
  min-height: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.pvtFilterBox h4 {
  padding-left: 15px;
  text-align: left;
  margin: 10px 15px 15px 15px;
}
.pvtFilterBox p {
  margin: 10px auto;
}
.pvtFilterBox button {
  color: #2a3f5f;
}
.pvtFilterBox input[type='text'] {
  width: 230px;
  color: #2a3f5f;
  margin-bottom: 5px;
}

.pvtCheckContainer {
  text-align: left;
  font-size: 14px;
  white-space: nowrap;
  overflow-y: scroll;
  width: 100%;
  max-height: 30vh;
}

.pvtCheckContainer .pvtCheckWrapper {
  cursor: pointer;
  transition: background-color 300ms linear;
}

.pvtCheckContainer .pvtCheckItem {
  position: relative;
  cursor: pointer;
  padding-left: 35px;
  margin: 12px 0;
  font-weight: normal;
}

.pvtCheckContainer .pvtCheckItem input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.pvtCheckContainer .pvtCheckItem .checkmark {
  position: absolute;
  top: 2px;
  left: 10px;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: 1px solid #757575;
  border-radius: 50%;
}

.pvtCheckItem input:checked ~ .checkmark:after {
  display: block;
}
/* When the checkbox is checked, add a grey background */
.pvtCheckItem input:checked ~ .checkmark {
  background-color: #757575;
}

.pvtOnly {
  display: none;
  width: 35px;
  float: left;
  font-size: 12px;
  padding-left: 5px;
  cursor: pointer;
}

.pvtOnlySpacer {
  display: block;
  width: 35px;
  float: left;
}

.pvtRendererArea {
  padding: 5px;
}

.settings-cell {
  background-color: #f2f5fa;
  border: 1px solid #a2b1c6;
  text-align: center;
  display: none;
}

.settings-conrol {
  list-style-type: none;
}

.settings-conrol > .pvtAttr {
  border: 2px solid #1c45d9;
  border-radius: 6px;
  background-color: #2d67cb;
  color: #ffffff;
  cursor: pointer;
  padding: 0.5rem 2rem;
}

.settings-conrol > .pvtAttr > .pvtTriangle {
  color: #ffffff;
  margin-left: 1.5rem;
}

.pvtHandle:after {
  content: '\283F';
  cursor: move;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.pvtDots:after,
.pvtPlus:after {
  cursor: pointer;
  vertical-align: text-bottom;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.pvtDots:after {
  content: '\22EF';
}

.pvtPlus:after {
  content: '+';
  font-weight: normal;
}

.cell-placeholder {
  font-size: 1.25rem;
  color: gray;
  text-align: center;
}

.sig-settings {
  display: flex;
  flex-direction: column;
  margin: 0 3rem;
  width: 30%;
}

.sig-settings label {
  display: flex;
  text-align: end;
  font-size: 12px;
}

.header-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}

.pvtCols-ext {
  background-color: #d8e4f8;
  border-radius: 0 3px 3px 0;
  text-transform: capitalize;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 5px;
  width: 20%;
}

.question-dropdown {
  border-radius: 3px;
  width: 300px;
  background-color: #fff;
  position: absolute;
  text-align: center;
  user-select: none;
  min-height: 100px;
  z-index: 15700;
  -webkit-box-shadow: 0px 3px 18px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 18px -2px rgba(0, 0, 0, 0.15);

  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.question-dropdown-btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 14px;
  color: #bebebe;
  background-color: #fff;
  border: 1px solid #ffffff;
  border-radius: 3px;
  padding: 6px 10px;
  margin: 5px;
  width: 95%;
  min-height: 48px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
.question-dropdown-wrapper {
  z-index: 9999;
}

.selected {
  background-color: #daf3e9;
  transition: background-color 300ms linear;
}

.header-rm-button {
  color: #e57e7e !important;
  background-color: transparent;
  border: none;
  margin: 0.5rem;
  font-size: 12px;
}
